      
<%= form_with model: @post do |form| %>
    <div>
    
        <%=form.label :title %> 
        <br>
        <%=form.text_field :title %>
    </div>
    <div>
        <%=form.label :body%>
        <br>
        <%=form.text_area :body %>
    </div>
    <div class="field">
  <%= form.label :category_id, "Category" %>
  <br>
  <% if @categories %>
    <%= form.collection_select :category_id, @categories, :id, :name, prompt: "選擇文章分類" %>
  <% else %>
  <% end %>
  
</div>
<br>
  <%= form.button "送出文章", class: "btn"  %>
  
  <% if @delete %>
  <% else %>
  <%= button_to "刪除文章", @post, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn" %>
  <% end %>
<%end%>